






<!-- tests for model.py
create a user:
test_user = User(fname='Jane', lname='Doe', email='test@test.test', password='test')
db.session.add(test_user)
db.session.commit()

to see if user was crated with email:
user = User.query.first()
user -->

<!-- create a new fireball location
from datetime import datetime
loc = Locator(date=datetime.now(), latitude= '26.3N', longitude='165.8E', energy=-2.2)
db.session.add(loc)
db.session.commit()

return all locations just created
location = Locator.query.all()
location -->

<!-- Create a Saved (location) by test_user for the first locator in location (the list above)
Sav = Saved(user=test_user, locator=location[0])
db.session.add(Sav)
db.session.commit() -->

<!-- test by printing all saves, print users that have saves and locator latitude saved by users
saves = Saved.query.all()
print(saves[0].user.email)
print(saves[0].locator.latitude) -->

<!-- extra runs
Create a user and add it to the database:
new_user = User(email='admin@website.com', password='admin')
db.session.add(new_user)
db.session.commit() -->

<!-- Create a new locator (fireball location) and add it to the database:
new_locator =  Locator(latitude= 33, longitude=98, date=datetime(2022, 3, 15, 20, 55, 7 ))
db.session.add(new_locator)
db.session.commit() -->

<!-- Create a new Saved (saved location) by user and add to database:
new_saves=Saved(user=new_user, locator =new_locator)
db.session.add(new_saves)
db.session.commit() -->

<!-- Seed_database tests (run model interactively)
get first saved location from data base -->
<!-- saves = Saved.query.first() -->

<!-- Access Saved user and locator attributes 
    saves.user -->
<!-- saves.locator -->

<!-- print all the saves that saved.user has made -->
<!-- for user_save in saved.user.saved:
    print(user_save.locator) -->