{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
<head>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>> 

{% block body %}
<h1>Change Password</h1>
<nav>
    <section id="links-right">
      <a href="/">home</a>
    </section>
</nav>
<br></br>


<form action="/change_password" method="POST">


    <div class="input-box">
        <strong> Enter a new password</strong> <input type="password" placeholder= "new password" name="new_password" id="new_password">
    </div>
    <br></br>

    <div class="input-box" >
        <strong> Confirm password</strong> <input type="password" placeholder= "confirm password" name="confirm_password" id="confirm_password">
    </div>
    <p>
        <input type="submit">
      </p>
</form>





<br></br>
<h2> Log out</h2>
<span class="loginlogoutlink">
  <a title="Log Out" class="loginlogoutlink-logout" href="/logout">Log Out</a>
</span>


  {% endblock %}
