{% extends 'base.html' %}

{% block title %}{{  fireball.date  }} - Details{% endblock %}

{% block body %}
<nav>
  <section id="links-right">
    <a href="/">home</a>
  </section>
</nav>

<h1>{{ fireball.date }}</h1>

<p>
<ul> 
    <li>Latitude: {{ fireball.latitude }} </li>
    <li>Longitude: {{ fireball.longitude }} </li>
    <li>Log Impact Energy (kt): {{ fireball.energy }} </li>
</ul>
</p>


<form action="/fireballs/{{fireball.locator_id}}/save" method="POST">
    <label for="user-save">Save location:</label>
    <input type='text' name="fireball_id" value=fireball.id hidden>
    <input type='text' name="fireball_lat" value=fireball.latitude hidden>
    <input type='text' name="fireball_long" value=fireball.longitude hidden>
    <input type='text' name="fireball_energy" value=fireball.energy hidden>
 
  <button type="submit">Save</button>
</form>

{% endblock %}