
  {% extends 'base.html' %}
  {% block title %} Forgot Password {% endblock %}
  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>> 
  
  {% block body %}
  <nav>
      <section id="links-right">
        <a href="/">home</a>
      </section>
  </nav>

  <h1> Forgot Password </h1>
  <br></br>
    <body> 
    <div class="container"></div>

    <form action="/forgot_password"  method="POST">
      <div class="input-box">
        Email <input type="text" name="user_email" placeholder= "email" id ="user_email">
      </div>
      <p>
        <input type="submit">
      </p>
    </form>
    </body>
  </div>



  {% endblock %}