{% extends 'base.html' %}
{% block title %}Movie Ratings Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/data_visualization">View Fireball Data Visualization</a></li>
    <li><a href="/prediction">View Fireball Prediction Model</a></li>
    <li><a href="/map/fireballs">Map Fireballs</a></li>
    <li><a href="/fireballs">List of Fireballs</a></li>
    <li><a href="/my_saved_fireballs">Saved Fireballs</a></li>




</ul>
  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2> Log out</h2>
  <span class="loginlogoutlink">
    <a title="Log Out" class="loginlogoutlink-logout" href="?action=logout">Log Out</a>
 </span>


{% endblock %}