{% extends 'base.html' %}
{% block title %}Fireballs Home{% endblock %}
<head>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>> 

{% block body %}
  <h1>Fireball Finder</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/data_visualization">View Fireball Data Visualization</a></li>
    <li><a href="/prediction">View Fireball Prediction Model</a></li>
    <li><a href="/map/fireballs">Map Fireballs</a></li>
    <li><a href="/fireballs">List of Fireballs</a></li>
    <li><a href="/my_saved_fireballs">Saved Fireballs</a></li>
    <li><a href="/profile">Profile</a></li>
</ul>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <div class="input-box">
      Email <input type="text" name="email" placeholder= "email" id ="email">
    </div>

    <div class="input-box">
        Password <input type="password" placeholder= "password" name="password" id="password">
        <!-- <image src="/static/images/eye-close.png" id ="eyeicon"> -->
    </div>

    <script> 
      let eyeicon = document.getElementById("eyeicon")
      let password = document.getElementById("password")

      eyeicon.onclick =  function() {
        if (password.type == "password") {
          password.type == "text";
        }else{
          password.type== "password"
        }
      }
    </script>

    <p>
      <input type="submit">
    </p>
  </form>

  <br></br>
  <h2> Register </h2>
  <span class="register">
    <a title="Register" class="register" href="/register">Register</a>
  </span>

  <br></br>
  <h2> Forgot Password </h2>
  <span class="forgot_password">
    <a title="Forgot Password" class="forgot_password" href="/forgot_password">Forgot Password</a>
  </span>
  <br></br>


  <h2> Log out</h2>
  <span class="loginlogoutlink">
    <a title="Log Out" class="loginlogoutlink-logout" href="/logout">Log Out</a>
 </span>


{% endblock %}