{% extends 'base.html' %}

{% block title %} My Saved Fireballs {% endblock %}

{% block body %}
<h1>My Saved Fireballs</h1>
<nav>
    <section id="links-right">
      <a href="/">home</a>
    </section>
</nav>

<h2> Welcome {{user.fname}}</h2>
<ul>
{% for fireball in my_saves %}
    <li>
        Fireball Id: {{ fireball.locator.locator_id }}
        Fireball Latitude: {{ fireball.locator.latitude }}
        Fireball Longitude: {{ fireball.locator.longitude }}
        Fireball Impact Energy: {{ fireball.locator.energy }}
    </li>
    <form action="/delete_saved_fireball" method="POST">
      <label for="Remove_fave_fireball">To Remove Fireball</label>
      <input type='text' name="fireball_id" value={{fireball.locator.locator_id}} hidden>
      <button type="submit">Remove</button>
    </form>
{% endfor %}
</ul>
{% endblock %}


