{% extends 'base.html' %}

{% block title %} Profile {% endblock %}
<!doctype html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

{% block body %}
<body> 
  <h1>Profile</h1>
  <div class = container>
    <div class = row>
      <div class = col-8 >

        <h2> You are logged in {{ user.fname }}!</h2>
        <div class = col-4>
          <img id =profile_pic name="profile_pic" src="{{ user.profile_url }}" width ="100">
        </div>

          <form action="/delete_profile_pic" method="POST">
            <button type="submit">Remove</button>
          </form>

          <br></br>
          <strong> First Name </strong> {{user.fname}}
          <br></br>
          <strong> Last Name </strong> {{user.lname}}
          <br></br>
          <strong> Email  </strong> {{user.email}}
          <br></br>
          <strong> User ID  </strong> {{user.user_id}}
          <br></br>
          <strong> Favorite Anime  </strong> {{user.fave_anime}}
          <br></br>
          <br></br>
          <br></br>
          <h2>Select a file to upload</h2>
    
    
            <form method="post" action="/upload_profile_pic" enctype="multipart/form-data">
            
                  <input type="file" name="my-file" autocomplete="off" required>
          
                  <input type="submit" value="Submit">
            </form> 
            <br></br>

        </div>
      </div>
    </div>





      <br></br>
      <h3> Update Profile</h3>
      <span class="update_profile">
        <a title="Update Profile" class="update_profile" href="/update_profile">Update Profile</a>
      </span>

      <br></br>
      <h3> Change Password</h3>
      <span class="change_password">
        <a title="Change Password" class="change_password" href="/change_password">Change Password</a>
      </span>
      <br></br>

  <style>
    body {
        background-image: url('/static/images/background.png');
      }

      h1 {
        color: white
      }

      h3 {
        color: white
      }  
  
      .container {
        background-color: white;
      }
    </style>
</body>
</html>


{% endblock %}