{% extends 'base.html' %}

{% block title %} Hello {{ user.fname }} {% endblock %}

{% block body %}
<h1>Profile</h1>
<nav>
    <section id="links-right">
      <a href="/">home</a>
    </section>
  </nav>

<ul>
<!-- {% for save in user.saved %} -->
    <li>
        {{ user.email }}
        {{user.password}}

        <!-- {{  saved.user.saved }}:
        <span class=saved_loc_{{ locator.locator_id}} >
            {{ saves.locator }}
        </span> -->
    </li>
{% endfor %}
</ul>
{% endblock %}